$colors: (
    background: rgb(239, 238, 233),
    navDiv: rgba(255, 255, 255, 0.5),
    blackOpacity: rgba(0, 0, 0, 0.8),
    whiteBackground: rgb(255, 255, 255),
    blueLinks: rgba(77, 105, 188, 1),
    darkBackground: rgb(53, 53, 53)
);