$gallery: (
    item1: url("../images/17284.jpg"),
    item2: url("../images/27284.jpg"),
    item3: url("../images/37284.jpg"),
    item4: url("../images/47284.jpg"),
    item5: url("../images/57284.jpg"),
    item6: url("../images/67284.jpg"),
    blueButton: url("../images/77284.jpg"),
    map: url("../images/map7284.png"),
    header: url("../images/87284.jpg")
);