@import 'all'

@mixin backgroundStyle 
    background-position: center
    background-repeat: no-repeat
    background-size: cover

@mixin flexCenter
    display: flex
    justify-content: center
    align-items: center

.header
    height: 100vh
    width: 100%
    background-image: url('/images/87284.jpg') //ZMIANY
    @include backgroundStyle
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    position: relative
    .nav
        height: 20vh
        width: 100%
        background-color: map-get($colors, navDiv)
        @include flexCenter        
        ul
            li
                display: inline-block
                font-size: 1vh
                font-family: 'Nunito', sans-serif;
                margin: 0 2vh
                letter-spacing: 1vh
            li:nth-child(3)
                font-size: 3vh
    .lorem_header
        display: flex
        justify-content: center
        justify-content: flex-end
        flex-direction: column 
        font-family: 'Nunito', sans-serif;
        color: gray        
        height: 40vh 
        width: 50%
        font-size: 2vh
        p
            width: 60%
            display: flex
            justify-content: flex-end

//PROJECT SECTION

.project
    height: 100vh
    width: 100%
    background-color: map-get($colors, background)
    @include flexCenter    
    .text
        height: 70vh
        width: 70vw
        background-color: map-get($colors, whiteBackground)
        @include flexCenter
        flex-direction: column
        h1, p
            width: 60%
            margin: 5vh 0
            text-align: center
            font-family: 'Nunito', sans-serif;            
        h1
            font-size: 4vh
        p
            font-size: 2vh
            text-align: left
            line-height: 3vh
        .view_project
            margin: 5vh 0
            border: 3px solid black
            width: 10vw
            height: 4vh
            font-weight: bold
            background-color: map-get($colors, whiteBackground)

//GALLERY

.gallery
    height: 70vh
    width: 100%
    display: flex
    flex-wrap: wrap
    .galleryDiv
        height: 50%
        width: 33.3%
        @include backgroundStyle
    .item1
        background-image: url('/images/17284.jpg') //ZMIENIC
    .item2
        background-image: url('/images/27284.jpg')
    .item3
        background-image: url('/images/37284.jpg')
    .item4
        background-image: url('/images/47284.jpg')
    .item5
        background-image: url('/images/57284.jpg')
    .item6
        background-image: url('/images/67284.jpg')
.layer
    height: 100%
    width: 100%
    color: transparent
    @include flexCenter    
    &:hover
        background-color: map-get($colors, blackOpacity)
        font-family: 'Dosis', sans-serif;                
        color: white
        text-transform: uppercase
        
//ARTICLE

.short_article
    height: 30vh
    width: 100%
    background-color:  map-get($colors, background)
    @include flexCenter    
    font-family: 'Dosis', sans-serif;
    p
        height: 50%
        width: 45vw
        font-size: 4vh
        text-align: center

//KONB SECTION

.knob
    height: 60vh
    width: 100%
    display: flex
    .item_knob
        height: 100%
        width: 50%
        background-image: url("/images/77284.jpg")
        @include backgroundStyle
    .knob_text
        height: 100%
        width: 50%
        @include flexCenter
        .knob_text1
            width: 70%
            div
                width: 60%
                margin: 2vh 0
                font-family: 'Nunito', sans-serif;
                line-height: 2.5vh
                

            
        